- name: Debug at the start of hub spoke
  ansible.builtin.debug:
    msg: "Started processing hub spoke tasks"

- name: Add finalizer to the CR
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: grafanacloud.stakater.com/v1alpha1
      kind: Config
      metadata:
        name: "{{ grafana_cloud_operator_cr_name }}"
        namespace: "{{ grafana_cloud_operator_cr_namespace }}"
        finalizers:
          - "grafanacloud.stakater.com/config"
  when: "'grafanacloud.stakater.com/config' not in grafana_cloud_operator_cr.metadata.finalizers"

- name: Update CR status to Initiated
  operator_sdk.util.k8s_status:
    api_version: grafanacloud.stakater.com/v1alpha1
    kind: Config
    name: "{{ grafana_cloud_operator_cr_name }}"
    namespace: "{{ grafana_cloud_operator_cr_namespace }}"
    status:
      conditions:
        - lastTransitionTime: "{{ grafana_cloud_operator_ansible_date_time.iso8601 }}"
          status: 'True'
          type: "Initiated"
          reason: "OperationStarted"
          message: "Operation to integrate Grafana OnCall started"

- name: Fetch current status from Config CR
  kubernetes.core.k8s_info:
    api_version: grafanacloud.stakater.com/v1alpha1
    kind: Config
    name: "{{ grafana_cloud_operator_cr_name }}"
    namespace: "{{ grafana_cloud_operator_cr_namespace }}"
  register: grafana_cloud_operator_current_grafana_cloud_operator_config_cr

- name: Fetch ManagedCluster from all namespaces
  kubernetes.core.k8s_info:
    api_version: cluster.open-cluster-management.io/v1
    kind: ManagedCluster
  register: grafana_cloud_operator_managed_clusters_raw

# Extracts name from MangedCluster and saves it like name: local-cluster
- name: Extract ManagedCluster names with prefix
  ansible.builtin.set_fact:
    grafana_cloud_operator_managed_cluster_names: "{{ grafana_cloud_operator_managed_cluster_names | default([]) + ['name: ' ~ item.metadata.name] }}" # yamllint disable-line rule:line-length
  loop: "{{ grafana_cloud_operator_managed_clusters_raw.resources }}"
  loop_control:
    loop_var: item

- name: Extract base ManagedCluster names
  ansible.builtin.set_fact:
    grafana_cloud_operator_managed_cluster_base_names: >-
      {{
        grafana_cloud_operator_managed_cluster_names
        | map('regex_replace', '^name: ', '')
        | list
      }}
  loop: "{{ grafana_cloud_operator_managed_clusters_raw.resources }}"
  loop_control:
    loop_var: item

# Extracts owner from the ManagedCluster labels and saves it like owner: unknown
- name: Extract ManagedCluster owners with prefix
  ansible.builtin.set_fact:
    grafana_cloud_operator_managed_cluster_owners: "{{ grafana_cloud_operator_managed_cluster_owners | default([]) + ['owner: ' ~ item.metadata.labels.owner | default('unknown')] }}" # yamllint disable-line rule:line-length
  loop: "{{ grafana_cloud_operator_managed_clusters_raw.resources }}"
  loop_control:
    loop_var: item

# Removes name: and owner: and joins the managed_cluster_names and _managed_cluster_owners with hyphen in between. e.g. local-cluster-unkonwn
- name: Combine grafana_cloud_operator_managed_cluster_names and grafana_cloud_operator_managed_cluster_owners into a dictionary
  ansible.builtin.set_fact:
    grafana_cloud_operator_managed_clusters: >-
      {{
        dict(
          grafana_cloud_operator_managed_cluster_names
          | map('regex_replace', '^name: ', '')
          | zip(
              grafana_cloud_operator_managed_cluster_owners
              | map('regex_replace', '^owner: ', '')
            )
        )
      }}

# grafana_cloud_operator_existing_integration_names comes fomr common_task via GET request
# and it has extracted names of integrations existing on Grafana Cloud.
# We add name: local-cluster-owner and store them as list to grafana_cloud_operator_integration_names
- name: Adds name as prefix to grafana_cloud_operator_integration_names
  ansible.builtin.set_fact:
    grafana_cloud_operator_integration_names: "{{ grafana_cloud_operator_existing_integration_names | map('regex_replace', '^', 'name: ') | list }}"

- name: Filter common clusters for integration by name
  ansible.builtin.set_fact:
    grafana_cloud_operator_common_clusters: >-
      {{
        grafana_cloud_operator_managed_clusters
        | dict2items
        | selectattr('key', 'in', grafana_cloud_operator_integration_names)
        | items2dict
      }}

# By comparing local available managedClusters CR names and grafana_cloud_operator_existing_integration_names
# integrations names on grafana cloud we are creating a list for the integration to be created
- name: Determine which ManagedCluster CRs don't have integrations (case-insensitive)
  ansible.builtin.set_fact:
    grafana_cloud_operator_create_integration_for: >-
      {{
        grafana_cloud_operator_managed_clusters
        | dict2items
        | map(attribute='key')
        | zip(
            grafana_cloud_operator_managed_clusters | dict2items | map(attribute='value')
        )
        | map('join', '-')
        | reject('in', grafana_cloud_operator_integration_names
          | map('regex_replace', '^name: ', '')
          | map('lower')
        | list)
        | list
      }}

# This creates a dictionary from the grafana_cloud_operator_create_integration_for
# list to streamline with our usage ahead
- name: Transform grafana_cloud_operator_create_integration_for into a list of dictionaries
  ansible.builtin.set_fact:
    grafana_cloud_operator_create_integration_for_dict: "{{ grafana_cloud_operator_create_integration_for_dict | default([]) + [{'name': item}] }}"
  loop: "{{ grafana_cloud_operator_create_integration_for }}"
  loop_control:
    loop_var: item

- name: Integration creation
  block:
    # This will run only when we have grafana_cloud_operator_create_integration_for_dict defined
    - name: Fetch Slack Channel from ManagedCluster namespace
      kubernetes.core.k8s_info:
        api_version: slack.stakater.com/v1alpha1
        kind: Channel
        namespace: "{{ item.name | regex_replace('^(.+)-[^-]+$', '\\1') }}"
      register: grafana_cloud_operator_slack_channel_info
      loop: "{{ grafana_cloud_operator_create_integration_for_dict }}"
      loop_control:
        label: "{{ item.name }}"
      when: grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

    - name: Extract Channel id from slack channel
      ansible.builtin.set_fact:
        grafana_cloud_operator_slack_channel_ids: "{{ grafana_cloud_operator_slack_channel_ids | default([]) + [{'name': item.metadata.name, 'grafana_cloud_operator_slack_id': item.status.id}] }}" # yamllint disable-line rule:line-length
      loop: "{{ grafana_cloud_operator_slack_channel_info.results | map(attribute='resources') | flatten }}"
      loop_control:
        label: "{{ item.metadata.name }}"
      when: grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

    - name: Populate List with spaces if any
      vars:
        grafana_cloud_operator_slack_id_fetched: >-
          {{
            grafana_cloud_operator_slack_channel_ids
            | default([])
            | selectattr('name', 'contains', item)
            | map(attribute='grafana_cloud_operator_slack_id')
            | join(',')
          }}
      ansible.builtin.set_fact:
        grafana_cloud_operator_slack_channel_validated: "{{ grafana_cloud_operator_slack_channel_validated | default([]) + [{'name': item, 'grafana_cloud_operator_slack_id': grafana_cloud_operator_slack_id_fetched}] }}" # yamllint disable-line rule:line-length
      loop: "{{ grafana_cloud_operator_create_integration_for }}"
      loop_control:
        label: "{{ item }}"
      when: grafana_cloud_operator_slack_channel_ids is defined

    # Creates the new integration with prefix added for customer e.g.
    # local-cluster-unknown. Will run only once there's integration to be created
    - name: Create a new integration in Grafana OnCall integration for each ManagedClusters that does not have one
      ansible.builtin.uri:
        url: "{{ grafana_cloud_operator_grafana_cloud_integrations_api_url }}"
        method: POST
        body_format: json
        return_content: true
        headers:
          Authorization: "{{ grafana_cloud_operator_grafana_cloud_api_token }}"
          Content-Type: "application/json"
        body: >
          {{
            {
              "type": "alertmanager",
              "name": item.name,
              "default_route": {
                "slack": {
                  "channel_id": grafana_cloud_operator_slack_channel_validated[loop_index].grafana_cloud_operator_slack_id,
                  "enabled": grafana_cloud_operator_slack_cond
                }
              }
            } if grafana_cloud_operator_slack_channel_validated is defined and
                grafana_cloud_operator_slack_channel_validated | length > loop_index and
                grafana_cloud_operator_slack_channel_validated[loop_index].grafana_cloud_operator_slack_id | length > 0
              else {
                "type": "alertmanager",
                "name": item.name
              }
          }}
        status_code: [200, 201]
      register: grafana_cloud_operator_integration_response
      loop: "{{ grafana_cloud_operator_create_integration_for_dict }}"
      loop_control:
        label: "{{ item.name }}"
        index_var: loop_index
      retries: 5
      delay: 6
      until: grafana_cloud_operator_integration_response.status in [200, 201]
      failed_when: false
      when: grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

    - name: Update status with ManagedCluster field
      operator_sdk.util.k8s_status:
        api_version: grafanacloud.stakater.com/v1alpha1
        kind: Config
        name: "{{ grafana_cloud_operator_cr_name }}"
        namespace: "{{ grafana_cloud_operator_cr_namespace }}"
        status:
          managedClusters: []
      when:
        - "'managedClusters' not in grafana_cloud_operator_current_grafana_cloud_operator_config_cr.resources[0].status"
        - grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

    - name: Extract existing ManagedCluster names from current status
      ansible.builtin.set_fact:
        grafana_cloud_operator_existing_managed_cluster_names: >-
          {{
            grafana_cloud_operator_current_grafana_cloud_operator_config_cr.resources[0].status.grafana_cloud_operator_managed_clusters
            | default([])
          }}
      when: grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

      # This task processes the 'grafana_cloud_operator_managed_clusters' dictionary to generate a list of ManagedCluster names
      # with their associated prefixes. Each entry in the dictionary is transformed into a string in the
      # format "<prefix>-<name>". The resulting list is stored in 'grafana_cloud_operator_managed_cluster_names'.
    - name: Extract new ManagedCluster names
      ansible.builtin.set_fact:
        grafana_cloud_operator_managed_cluster_names: >-
          {{
            grafana_cloud_operator_managed_clusters
            | dict2items
            | map(attribute='key')
            | zip(
                grafana_cloud_operator_managed_clusters
                | dict2items
                | map(attribute='value')
              )
            | map('join', '-')
            | list
          }}
      when: grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

    - name: Merge existing ManagedCluster names with new ones
      ansible.builtin.set_fact:
        grafana_cloud_operator_updated_managed_cluster_names: >-
          {{
            (grafana_cloud_operator_existing_managed_cluster_names + grafana_cloud_operator_managed_cluster_names) | unique
          }}
      when: grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

    - name: Update CR status to IntegrationsCreated
      operator_sdk.util.k8s_status:
        api_version: grafanacloud.stakater.com/v1alpha1
        kind: Config
        name: "{{ grafana_cloud_operator_cr_name }}"
        namespace: "{{ grafana_cloud_operator_cr_namespace }}"
        status:
          managedClusters: "{{ grafana_cloud_operator_updated_managed_cluster_names }}"
          conditions:
            - lastTransitionTime: "{{ grafana_cloud_operator_ansible_date_time.iso8601 }}"
              status: "True"
              type: "Successful"
              reason: "IntegrationsCreated"
              message: "Grafana integrations created for all ManagedClusters."
      when: grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

    - name: Inform user if Grafana integration creation was skipped or failed
      when:
        - grafana_cloud_operator_integration_response is defined
        - grafana_cloud_operator_integration_response.results | default([]) | rejectattr('status', 'in', [200, 201]) | list | length > 0
      block:
        - name: Display message about potential Grafana integration issues
          ansible.builtin.debug:
            msg: "Checking if Grafana integration for the cluster was skipped or failed."

        - name: Update CR status to Failure for failed integrations
          operator_sdk.util.k8s_status:
            api_version: grafanacloud.stakater.com/v1alpha1
            kind: Config
            name: "{{ grafana_cloud_operator_cr_name }}"
            namespace: "{{ grafana_cloud_operator_cr_namespace }}"
            status:
              conditions:
                - lastTransitionTime: "{{ grafana_cloud_operator_ansible_date_time.iso8601 }}"
                  status: 'True'
                  type: "Failed"
                  reason: "IntegrationCreationFailed"
                  message: "Failed to create Grafana integration for ManagedClusters."
          loop: "{{ grafana_cloud_operator_integration_response.results }}"
          when:
            - grafana_cloud_operator_integration_response is defined
            - grafana_cloud_operator_integration_response.results is defined
            - grafana_cloud_operator_integration_response.results | length > 0
            - item.status not in [200, 201]

    - name: Associate Grafana integration details with ManagedClusters
      ansible.builtin.set_fact:
        grafana_cloud_operator_mapped_integrations: "{{ grafana_cloud_operator_mapped_integrations | default([]) + [{'cluster': item.item, 'grafana_details': item.json}] }}" # yamllint disable-line rule:line-length
      loop: "{{ grafana_cloud_operator_integration_response.results }}"
      when: grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

    - name: Keep only integrations for existing ManagedClusters
      ansible.builtin.set_fact:
        grafana_cloud_operator_mapped_integrations: >-
          {{
            grafana_cloud_operator_mapped_integrations
            | selectattr('cluster_name', 'in', grafana_cloud_operator_managed_cluster_base_names)
            | list
          }}

    # Following tasks will execute only if Grafana integration was created successfully
    # transformed_namespaces from above task it removes owner name from it and prints out as local-cluster
    - name: Modify Alertmanager secret
      ansible.builtin.include_tasks: modify_alertmanager_secret.yml
      vars:
        receiver_name: "{{ item.grafana_details.name }}"
        receiver_url: "{{ item.grafana_details.link }}"
        mc_namespace: "{{ item.name }}"
        provision_mode: "hubAndSpoke"
      loop: "{{ grafana_cloud_operator_mapped_integrations }}"
      loop_control:
        label: "{{ item.cluster.name }}"
      when: grafana_cloud_operator_create_integration_for_dict is defined and grafana_cloud_operator_create_integration_for_dict | length > 0

# Skipped when grafana_cloud_operator_manifestwork_creation_results is not defined
- name: Update CR status for ManifestWork creation
  operator_sdk.util.k8s_status:
    api_version: grafanacloud.stakater.com/v1alpha1
    kind: Config
    name: "{{ grafana_cloud_operator_cr_name }}"
    namespace: "{{ grafana_cloud_operator_cr_namespace }}"
    status:
      conditions:
        - lastTransitionTime: "{{ grafana_cloud_operator_ansible_date_time.iso8601 }}"
          status: 'True'
          type: "Successful"
          reason: "ManifestWorksCreated"
          message: "ManifestWorks created for all ManagedClusters"
  when: grafana_cloud_operator_manifestwork_creation_results is defined and not grafana_cloud_operator_manifestwork_creation_results.failed

# Skipped when grafana_cloud_operator_manifestwork_creation_results is not defined
- name: Update CR status for ManifestWork creation failure
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: grafanacloud.stakater.com/v1alpha1
      kind: Config
      metadata:
        name: "{{ grafana_cloud_operator_cr_name }}"
        namespace: "{{ grafana_cloud_operator_cr_namespace }}"
      status:
        conditions:
          - lastTransitionTime: "{{ grafana_cloud_operator_ansible_date_time.iso8601 }}"
            type: "Failed"
            reason: "ManifestWorkCreationFailed"
            message: "Failed to create ManifestWork for one or more ManagedClusters"
  when: grafana_cloud_operator_manifestwork_creation_results is defined and not grafana_cloud_operator_manifestwork_creation_results.failed

# Moved to the bottom as we want to trigger deletion after all
- name: Start deletion for hubAndSpoke mode
  ansible.builtin.include_tasks: delete_grafana_oncall_hub_spoke.yml
  when:
    - grafana_cloud_operator_manifestwork_creation_results is not defined
    - grafana_cloud_operator_create_integration_for_dict is not defined or grafana_cloud_operator_create_integration_for_dict | length == 0
