- name: Decode and modify alertmanager secret configuration
  ansible.builtin.set_fact:
    grafana_cloud_operator_modified_alertmanager_secret_content: >
      {{ (grafana_cloud_operator_fetched_alertmanager_secrets.resources[0].data['alertmanager.yaml'] | b64decode | from_yaml) | combine({
          'receivers': [
            {
              "name": receiver_name | trim,
              "webhook_configs": [
                {
                  "url": receiver_url,
                  "send_resolved": true,
                }
              ]
            },
            {
              "name": "grafana-oncall-heartbeat",
              "webhook_configs": [
                {
                  "url": receiver_url + "heartbeat/",
                  "send_resolved": false,
                }
              ]
            }
          ],
          'route': {
            'receiver': receiver_name | trim,
            'group_by': [
                "namespace",
                "alertname"
              ],
            'routes': [
              {
                'receiver': receiver_name | trim,
                'match': {
                  'severity': 'info | warning | critical'
                }
              },
              {
                "match": {
                  "alertname": "Watchdog"
                },
                "receiver": "grafana-oncall-heartbeat",
                "group_wait": "0s",
                "group_interval": "1m",
                "repeat_interval": "50s"
              }
            ]
          }
      }, recursive=True) }}

- name: Update CR status to AlertmanagerConfigModified
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: grafanacloud.stakater.com/v1alpha1
      kind: Config
      metadata:
        name: "{{ grafana_cloud_operator_cr_name }}"
        namespace: "{{ grafana_cloud_operator_cr_namespace }}"
      status:
        conditions:
          - lastTransitionTime: "{{ grafana_cloud_operator_ansible_date_time.iso8601 }}"
            status: 'True'
            type: "Processing"
            reason: "AlertmanagerConfigModified"
            message: "Decoded and modified the alertmanager secret configuration"

- name: Re-encode modified alertmanager content for cluster
  ansible.builtin.set_fact:
    grafana_cloud_operator_encoded_alertmanager_secret_content: "{{ grafana_cloud_operator_modified_alertmanager_secret_content | to_nice_yaml | b64encode }}"
  vars:
    provision_mode_check: "{{ provision_mode }}"
  when: provision_mode_check == "hubAndSpoke"

- name: Create ManifestWork to patch alertmanager-main secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: work.open-cluster-management.io/v1
      kind: ManifestWork
      metadata:
        name: "{{ receiver_name }}-manifestwork-grafana-oncall"
        namespace: "{{ grafana_cloud_operator_cluster_name }}"
      spec:
        workload:
          manifests:
            - apiVersion: v1
              kind: Secret
              metadata:
                name: alertmanager-main
                namespace: openshift-monitoring
              data:
                alertmanager.yaml: "{{ grafana_cloud_operator_encoded_alertmanager_secret_content }}"
  vars:
    provision_mode_check: "{{ provision_mode }}"
  when:
    - provision_mode_check == "hubAndSpoke"
    - grafana_cloud_operator_create_integration_for | length > 0
  register: grafana_cloud_operator_manifestwork_creation_results

